<div *ngIf="authService.auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>

<input id="new-team-input" placeholder="new team name" #teamInput />
<button (click)="addNewTeam(teamInput.value)">add team</button>
<ng-container *ngIf="axieTeams$ | async as axieTeams">
  <axie-team *ngFor="let team of axieTeams" [axieTeam]="team" (deleteTeam)="clearTeam($event)"></axie-team>
</ng-container>
