.axie-fetcher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  .axie-form {
    p {
      margin: 0;
      margin-bottom: 5px;
    }
  }
  .axie {
    .axie-details {
      grid-template-columns: 1fr;
    }
  }
}
